*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1{
	text-align: center;
}

form{
	width: 50vw;
	background: #00a7cb;
	margin: 0 25vw;
}

form label{
	display: block;
	text-align: center;
	color: white;
	font-family: "Arial";
}

form input{
	width: 100%;
	margin: 10px 0px;
	border: 7px double black;
	border-radius: 10vw;
	background: #7ce6fd;
}

form input#btnEnviar{
	background: #00a3ff;
	cursor: pointer;

}